<!-- attend_area -->
{% load static %}
<div class="attending_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
                <div class="main_attending_area">
                    <div class="flower_1 d-none d-lg-block">
                        <img src="{% static 'img/appointment/flower-top.png' %}" alt="">
                    </div>
                    <div class="flower_2 d-none d-lg-block">
                        <img src="{% static 'img/appointment/flower-bottom.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / attend_area -->