<!doctype html>
<html class="no-js" lang="zxx">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Weeding</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body>

    {% if messages %}
    <div class="custom-toast-container">
        {% for message in messages %}
        <div class="custom-toast {{ message.tags }}">
            <span class="toast-icon">
                {% if message.tags == 'success' %}✅{% elif message.tags == 'warning' %}⚠️{% elif message.tags == 'error'
                %}❌{% else %}ℹ️{% endif %}
            </span>
            <div class="toast-message">
                {{ message }}
            </div>
            <button class="toast-close">&times;</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}




    {% block header %}{% endblock %}
    {% block gift_list %}{% endblock %}
    {% block slider_area %}{% endblock %}
    {% block wedding_countdown %}{% endblock %}
    {% block our_love_story %}{% endblock %}
    {% block gallery_area %}{% endblock %}
    {% block program_detail %}{% endblock %}
    {% block attending_area %}{% endblock %}
    {% block contact_area %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block login %}{% endblock %}
    {% block register %}{% endblock %}

    <!-- ================ contact section end ================= -->


    <!-- footer_end -->

    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/expand_history.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#clock').countdown('2025/12/13 18:00:00', function (event) {
                $(this).html(event.strftime(
                    '<div class="countdown_wrap d-flex">' +
                    '<div class="single_countdown"><h3>%D</h3><span>Dias</span></div>' +
                    '<div class="single_countdown"><h3>%H</h3><span>Horas</span></div>' +
                    '<div class="single_countdown"><h3>%M</h3><span>Minutos</span></div>' +
                    '<div class="single_countdown"><h3>%S</h3><span>Segundos</span></div>' +
                    '</div>'
                ));
            });
        });
    </script>
    <script>
        function initMap() {
            var uluru = {
                lat: -25.363,
                lng: 131.044
            };
            var grayStyles = [{
                featureType: "all",
                stylers: [{
                    saturation: -90
                },
                {
                    lightness: 50
                }
                ]
            },
            {
                elementType: 'labels.text.fill',
                stylers: [{
                    color: '#ccdee9'
                }]
            }
            ];
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: -31.197,
                    lng: 150.744
                },
                zoom: 9,
                styles: grayStyles,
                scrollwheel: false
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&amp;callback=initMap">
        </script>

</body>

</html>