{% extends 'core/base.html' %}

{% load static %}

{% block header %}
{% include 'core/header.html' %}
{% endblock %}

{% block contact_area %}

<div class="bradcam_area text-center bradcam_bg overlay3">
    <div class="bradcam_text">
        <h3>Contato</h3>
    </div>
</div>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}

<!-- ================ contact section start ================= -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Entre em contato</h2>
            </div>
            <div class="col-lg-8">
                <form id="contactForm" method="post" action="{% url 'contact' %}" novalidate
                    class="form-contact">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 mb-3">
                            {{ form.message }}
                            <div class="help-block text-danger mb-3 mt-3">{{ form.message.errors }}</div>
                        </div>
                        <div class="col-sm-6 mb-3 mt-4">
                            {{ form.name }}
                            <div class="help-block text-danger">{{ form.name.errors }}</div>
                        </div>
                        <div class="col-sm-6 mb-3 mt-4">
                            {{ form.email }}
                            <div class="help-block text-danger">{{ form.email.errors }}</div>
                        </div>
                        <div class="col-12 mb-3">
                            {{ form.subject }}
                            <div class="help-block text-danger">{{ form.subject.errors }}</div>
                        </div>
                    </div>

                    <button type="submit" id="contactSubmit" class="button button-contactForm boxed-btn">
                        <span id="contactText">Enviar</span>
                    </button>
                </form>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <h3>Informações</h3>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Condominio Vivendas de Parnamirim</h3>
                        <p>Passagem de Areia n° 2081</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>+55 84 9481-7277</h3>
                        <p>Joyci Arllianne</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>Joyciarllianne@gmail.com</h3>
                        <p>Nunca deixe de nos enviar um email!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->

{% endblock %}

{% block footer %}
{% include "core/footer.html" %}
{% endblock %}