<!-- footer_start -->
 
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="quick_links">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'our_love_story' %}">Nossa História</a></li>
                            <li><a href="{% url 'gallery' %}">Galeria</a></li>
                            <li><a href="{% url 'gift_list' %}">Lista de Presentes</a></li>
                            <li><a href="{% url 'contact' %}">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                         All rights reserved | This template
                        is made of by <a href="#">Kelver Alves</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>