{% extends 'core/base.html' %}

{% block header %}
    {% include 'core/header.html' %}
{% endblock %}

{% block slider_area %}
    {% include 'core/slider_area.html' %}
{% endblock %}

{% block wedding_countdown %}
    {% include 'core/wedding_countdown.html' %}
{% endblock %}

{% block our_love_story %}
{% endblock %}

{% block gallery_area %}
{% endblock %}

{% block program_detail %}
    {% include 'core/program_detail.html' %}
{% endblock %}

{% block attending_area %}
    {% include 'core/attending_area.html' %}
{% endblock %}

{% block contact_area %}
{% endblock %}

{% block footer %}
    {% include 'core/footer.html' %}
{% endblock %}
