{% extends 'core/base.html' %}

{% block login %}
<div class="bradcam_area text-center bradcam_bg overlay3">
    <div class="bradcam_text">
        <h3>Login</h3>
    </div>
</div>
<div class="slider_area mt-4">
    <div>
        <div class="slider_text text-center">
            <div class="text_inner">
                {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}"
                    role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<section class="mt-5 mb-5">
    <div class="container col-lg-6 offset-lg-3">
        <h2 class="contact-title text-center">Entre na sua conta</h2>
        <form method="post" class="form-contact contact_form">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            <form method="post" action="{% url 'guest_login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username">Usuário:</label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <label for="id_password">Senha:</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="button boxed-btn w-100">Entrar</button>
            </form>

            <p>Não tem conta? <a href="{% url 'guest_register' %}">Cadastre-se</a></p>


    </div>
</section>
{% endblock %}