<!-- program_details -->
{% load static %}

<div class="program_details_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center">
                    <img src="{% static 'img/banner/flowers.png' %}" alt="">
                    <h3>Programa. Detalhes</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="single_program program_bg_1 text-center">
                    <div class="program_inner ">
                        <span>
                            18:00 Hs
                        </span>
                        <h3>Cerimônia de Casamento</h3>
                        <p>Avenida Castro Alves n° 288
                            Rosa dos ventos
                            Parnamirim
                            RN</p>
                        <p>ALAMANDAS BUFFET</p>
                        <img src="{% static 'img/program_details/ornaments.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="single_program program_bg_2 text-center">
                    <div class="program_inner ">
                        <span>
                            20.00
                        </span>
                        <h3>Hora do Lanche</h3>
                        <p>Momento especial para recarregar as energias com delícias preparadas com carinho.
                            Aproveite para saborear e compartilhar bons momentos com todos!</p>
                        <img src="{% static 'img/program_details/ornaments.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="single_program program_bg_3 text-center">
                    <div class="program_inner ">
                        <span>
                            22.00
                        </span>
                        <h3>Hora da festa</h3>
                        <p>É hora de celebrar! Prepare-se para muita música, dança e diversão.
                            A pista está aberta para criarmos juntos momentos inesquecíveis!</p>
                        <img src="{% static 'img/program_details/ornaments.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ program_details -->