<!-- slider_area -->
{% load static %}
<div class="slider_area ">
    <div class="slider_area_inner slider_bg_1 overlay2">
        <div class="slider_text text-center">
            <div class="text_inner">
                <img src="{% static 'img/banner/ornaments.png' %}" alt="">
                <h4>13 Dez 2025</h4>
                <h3>Joyce & Leo <br>
                    Cerimônia de Casamento</h3>
                <span>Celebração</span>
            </div>
        </div>
    </div>
</div>
<!--/ slider_area -->