<!-- wedding_countdown -->
{% load static %}<!-- convite_top -->


<!--/ convite_top -->


<div class="weeding_countdown_area">
    <div class="invitation_area text-center">
    <img src="{% static 'img/banner/flowers.png' %}" alt="">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="mb-3">Você é nosso convidado especial!</h2>
                <p class="lead">
                    Será uma alegria imensa ter você conosco para celebrar este dia tão importante.
                    Venha compartilhar amor, união e felicidade nesse momento inesquecível!
                </p>
            </div>
        </div>
    </div>
</div>
    <div class="flowaers_top d-none d-lg-block">
        <img src="{% static 'img/banner/flower-top.png' %}" alt="">
    </div>
    <div class="flowaers_bottom d-none d-lg-block">
        <img src="{% static 'img/banner/flower-bottom.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-xl-12">
                <div class="section_title text-center">
                    <img src="{% static 'img/banner/flowers.png' %}" alt="">
                    <span>13. Dezembro. 2025</span>
                    <h3>O. CASAMENTO. Contagem regressiva</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="clock" class="countdown_area counter_bg ">
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ wedding_countdown -->
